{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
<div class="container" style="margin-bottom: 70px;">
    <br>
    <p><img src="{{ book.cover_link }}"></p>
    <table class="table">
        <tr>
            <th scope="row">Title</th>
            <td>{{book.title}}</td>
        </tr>
        <tr>
            <th scope="row">Author</th>
            <td>{{book.author}}</td>
        </tr>
        <tr>
            <th scope="row">Publication Date</th>
            <td>{{book.pub_date}}</td>
        </tr>
        <tr>
            <th scope="row">Pages</th>
            <td>{{book.pages}}</td>
        </tr>
        <tr>
            <th scope="row">Language</th>
            <td>{{book.language}}</td>
        </tr>
    </table>
    <button class="btn btn-dark" onclick="location.href='{% url 'book_list:edit' book.id %}'" type="button">Edit</button>
    <button class="btn btn-dark" onclick="location.href='{% url 'book_list:delete' book.id %}'" type="button">Delete</button>
</div>
</body>
{% endblock %}
